/* Start of the stylesheet*/

h1,h2,h3{
    color: #0f0f0f;
    text-align: center;
    margin-bottom: 0in;
}

* a{
text-decoration: none;
font-size: 24px;
position: static;
}

.date{
    font-weight: 300;
    text-decoration: underline;
    color:blueviolet;
}

body{
    background-color: beige;
    font-family: 'Ubuntu', sans-serif;
}

@media screen and (min-width: 1000px) {
    body {
      background-color: white;
    }
  }

#Attendance{
  display: inline;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

ul{
    margin-top: 0.1rem;
    margin-bottom: 0.1vw;
}

li:first-of-type + li {
    color: red;
  }

section > h3{
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.menu{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0; 
    width: 100%; 
}
div a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

fieldset{
    border: 0px;
    border-radius: 50%;
    border-style: none;
}

video {
    width: 100%;
    height: auto;
    max-width: 50%;
    min-width: 30%;
  }

  .button{
    width: 10em;
    height: 5ex;
    background-color: rgb(239, 171, 239);
    border: 0px;
    border-radius: 10px;
  }

  .button:hover{
    background-color: white;
  }

  .button:active{
    box-shadow: 2px 2px 5px purple;
  }
  
  header{
    margin-top: 100px;
  }
 
  .grid{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    column-gap: 50px;
    row-gap: 50px;
  }

  .nav-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .nav-list > *{
    flex-grow: 2;
    list-style: none;
    color: purple;
  }


  a[href="https://github.com/samw0627"]{
    color: green;
  }

  h3 ~ p{
    font-style: italic;
  }
