/* Start of the stylesheet*/
body{
    background-color: beige;
    font-family: 'Ubuntu', sans-serif;

}
h1,h2,h3{
    color: #0f0f0f;
    text-align: center;
    margin-bottom: 0in;
}

a{
color: rgb(7, 69, 99);
text-decoration: none;
font-size: 24px;
}

.date{
    font-weight: 300;
    text-decoration: underline;
    color:blueviolet;
}

#Attendance{
    padding: 0.5em 0.5em 0.5em 0.5em;
}

ul{
    margin-top: 0.1rem;
    margin-bottom: 0.1vw;
}

li:first-of-type + li {
    color: red;
  }

section > h3{
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.menu{
    margin: auto auto auto auto;
}
div a{
    margin: auto 25px;
    /*display: inline-block;*/
}

fieldset{
    border: 0px;
    border-radius: 50%;
    border-style: none;
}

video {
    width: 100%;
    height: auto;
    max-width: 50%;
    min-width: 30%;
  }

  .button{
    width: 10em;
    height: 5ex;
    background-color: rgb(239, 171, 239);
    border: 0px;
    border-radius: 10px;
  }

  /*.button:hover{
    background-color: white;
  }

  .button:active{
    box-shadow: 2px 2px 5px purple;
  }
  */
  